<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.Ceremony"}} </h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label> {{localize "MTA.Rating"}}</label> <input name="system.rating" type="number" data-dtype="Number" value="{{system.rating}}" />
            </li>
            <li> 
              <label>{{localize "MTA.InnateToSineaters"}}</label> 
              <label class="checkBox">
                <input data-dtype="Boolean" name="system.innateToSineaters" type="checkbox" {{checked system.innateToSineaters}}>
                <span></span>
              </label>
            </li>
          </ul>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">    
      <a class="item" data-tab="traits">{{localize "MTA.Traits"}}</a>
      <a class="item" data-tab="description">{{localize "MTA.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab traits" data-group="primary" data-tab="traits">
          <div class="item-stat-block">
            <div class="form-line">
              <label>{{localize "MTA.Duration"}}</label> 
              <input name="system.duration" type="text" value="{{system.duration}}" />
            </div>
            {{{effectList this}}}
            {{{dicePoolList this}}}
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
